# Virtual environment
.venv/
venv/
__pycache__/

# Large datasets
data/EuroSAT/
data/EuroSATallBands/

# IDE files
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Trained model (too big for GitHub)
models/model.pkl
